@import 'src/Colors.scss';

.object-rendering-group-cell {
  background-color: $primary-5;
  border-radius: 5px;

  .object-rendering-group-cell__title{
    color: black;
  }
  .object-rendering-group-cell__content{
    background-color: $primary-3;
  }
}
