@import 'src/Colors.scss';

.paging-bar{
  display: flex;
  justify-content: center;
  padding: 8px;

  .paging-bar__pagination-button {
    margin-left: 8px;
    background-color: $primary-2;
    color: black;
  }

  .paging-bar__other-page-button {
    margin-left: 8px;
    background-color: $primary-2;
    color: black;
  }

  .paging-bar__current-page-button {
    margin-left: 8px;
    background-color: $primary-4;
    color: black;
  }

  .paging-bar__filler {
    display: inline-block;
    margin-left: 8px;
  }

}